.profileImg
  img
    width: 100%
    max-height: 280px
    height: auto
.lookJob
  img
    width: 30px
    height: 30px

.statusDeactive
  border: 1px solid rgba(black, .6)
  background-color: rgba(255,255,255,.6)
  border-radius: 2px
  width: max-content
  padding: 6px 15px
  display: block
  color: black
  margin-top: 5px
  margin-bottom: 5px

.statusActive
  input
    background-color: rgba(255,255,255,.6)
    border-radius: 2px
    border: 1px solid black
    padding: 9px 15px
    display: block
    color: black
    margin-bottom: 5px
    &:focus
      background-color: rgba(#fff, .8)
      transition: background-color .3s ease

.mainInfo
  display: grid
  grid-template-rows: 1fr
  grid-template-columns: 3fr 10fr
  grid-template-areas: "ava desc"
  grid-gap: 20px
  margin:
    top: 10px
    bottom: 10px
  .avatar
    grid-area: ava
    img
      width: 100%
      height: auto

  .description
    grid-area: desc

    button
      margin-top: 5px
      margin-bottom: 15px

    ul
      list-style-type: none

    h2
      margin: 0

    p
      margin: 0
      line-height: 1.65
